<footer id="footer">
    © <%= date(new Date, "YYYY" ) %>
        <a href="<%= url_for() %>">
            <%= config.title %>
        </a>
        .
        All Rights Reserved.
        Theme By
        <a href="https://github.com/shotsuke" target="_blank" rel="nofollow">
            Shotsuke
        </a>.
</footer>

<%- js(["js/toc.js" ]) %>