<div class="copyright">
    ©2023 - 2024 By Shotsuke
</div>
<div class="framework">
    <span>Framework</span>
    <a href="https://hexo.io" target="_blank"> hexo</a>
    <br>
    <span>Theme</span>
    <a href="https://github.com/shotsuke" target="_blank"> Shotsuke</a>
</div>