<div class="topLinks">
    <% for (var i in theme.social) { %>
        <a href="<%- theme.social[i].link %>" target="_blank" class="iconLink">
            <%- theme.social[i].name %>
        </a>
        <% } %>
</div>