<div id="fullWrap">
    <div id="header">
        <%- partial("_partial/header") %>
    </div>
    <main class="main">
        <div class="mainContents">
            <%- partial("_partial/social") %>
                <%- partial("_partial/archive-list") %>
        </div>
        <div class="mainbg">

        </div>
    </main>
    <footer id="footer">
        <%- partial("_partial/footer") %>
    </footer>
</div>