<div id="fullWrap">
    <div id="header">
        <%- partial("_partial/header") %>
    </div>
    <main class="main">
        <%- partial("_partial/main") %>
    </main>
    <footer id="footer">

    </footer>
</div>