<div id="fullWrap">

    <main class="main">
        <div class="mainContents">
            <%- partial("_partial/social") %>
                <%- partial("_partial/archive-list") %>

        </div>
        <div class="mainbg">

        </div>
    </main>

</div>