<!DOCTYPE html>
<html>
<%- partial("_partial/head") %>

    <body>
        <div id="fullWrap">
            <%- partial("_partial/header") %>
                <%- body %>
                    <%- partial("_partial/footer") %>
        </div>
    </body>

</html>