:root {
    --color-mizuki: #ddaacc;
    --color-lightpink: #f9d3d2;
    --color-silver-mahiru-hair: #f1edee;
    --color-hazerose-mahiru-hair: #ebdae0;
    --color-brown-mahiru-eye: #682219;
    --color-dove-mahiru-eye: #9c5c65;

    --set-min-height: 1150px;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    max-height: 999999px;
    outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section,
main {
    display: block
}

html {
    scrollbar-color: var(--color-mizuki);
}