#header {
    position: absolute;
    top: 0;
}

#header .header {
    position: sticky;
    height: 100vh;
    min-height: var(--set-min-height);
    overflow: hidden;
}

.header {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding-top: 16px;
    pointer-events: none;
}

.blogTitle {
    width: 350px;
    border: 4px solid var(--color-dove-mahiru-eye);
    border-left-width: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 10px 40px 10px 20px;
    position: relative;
    background-color: #fff;
    background-image: repeating-linear-gradient(-60deg,
            var(--color-lightpink), var(--color-lightpink) 16px,
            transparent 0,
            transparent 32px);
    color: var(--color-brown-mahiru-eye);
    margin-bottom: 20px;
}

.blogSubTitle {
    display: block;
    font-size: 16px;
}

.headerNavLists__item {
    width: 240px;
    padding-right: 50px;
    position: relative;
    margin-bottom: 10px;
    pointer-events: none;
}

.navLink {
    display: inline-block;
    width: 100%;
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 4px solid var(--color-dove-mahiru-eye);
    border-left-width: 0px;
    color: var(--color-brown-mahiru-eye);
    padding: 12px 0 12px 20px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.05em;
    text-decoration: none;
    position: relative;
    background-color: #fff;
    transition: .3s ease;
    pointer-events: auto;
}

.navLink:hover {
    background-color: var(--color-hazerose-mahiru-hair);
}